body{
    background-image: url("/asset/img/background.jpg"); /* The image used */
    background-color: #000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
}
a{
    color: #BB00FF;
}
a:visited{
    color: #9977BB
}